<!DOCTYPE html>
<meta charset="UTF-8">

<head>
    <title>Temperature/Humidity Chart</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.js"></script>
    <script>
        var devices = {{ devices | tojson }}
        var datatypes = {{ datatypes | tojson }}
        var timeframes = [{"name": "Day", "value": 24}, {"name": "Week", "value": 144}, {"name": "Month", "value": 24 * 30}, {"name": "Year", "value": 24 * 365}];
        var timeFormat = 'MM/DD/YYYY HH:mm';
        var chart = null;
    </script>
    <script src="static/chart_setup.js"></script>
</head>

<body>
    <div id="header">
        <select id="device-select" onchange="request_chart()"></select>
        <select id="timeframe-select" onchange="request_chart()"></select>
    </div>

    <canvas id="chart"></canvas>

    <script>
        fill_selects();
        setup_chart();
        request_chart();
    </script>
</body>